body {
  background-image: url(./assets/clear-sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(9, 154, 238);
  border-radius: 10px;
  padding: 4px 10px;
}

#span {
  font-size: 30px;
  color: rgb(0, 141, 248);
}
#searchId {
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn {
  background-color: black;
  color: azure;
  border-radius: 5px;
  display: flex;
  padding: 10px 10px;
  margin: 20px;
  margin-left: 35%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
#city {
  text-align: center;
  padding: 10px 0px;

  border-radius: 5px;
  background-color: rgba(60, 58, 58, 0.444);
  color: white;
  font-size: large;
}
